/*added fonts*/
@font-face{
	font-family:Nav_title;
	src:url(fonts/Play.ttf);
}
@font-face{
	font-family:for_h3;
	src:url(fonts/Fira_Sans.ttf);
}
@font-face{
	font-family:for_quotes;
	src:url(fonts/PT_Serif_Italic.ttf);
}