*{margin:0; padding:0;} 								/* All clear*/

body{
	background:rgb(224,219,213); 						/*цвет фона*/
	position:relative;
	font:11px 'helvetica','verdana','geneva', sans-serif;
	color:#5F5959;

}

#page-wrapper{
	position:absolute;	
	display:block;
	margin:0 auto;
	left:auto;
}

header, .main, footer{
	background:#FFFFFF;
	width:600px;								/*width of middle box*/
	position:relative;
	left:60px;
}

/*header and background*/

header{
	padding-top:2.2em;
	padding-bottom:3em;
	/*shadow in top of header*/
	background:         linear-gradient(to bottom, rgba(235, 229, 234, 1), rgba(255, 255, 255, 1));
	background: -webkit-linear-gradient(to bottom, rgba(235, 229, 234, 1), rgba(255, 255, 255, 1));
	background:    -moz-linear-gradient(to bottom, rgba(235, 229, 234, 1), rgba(255, 255, 255, 1));
}
hr {
	margin:auto;
	height:3px;
	border:none;
	background:rgb(210,210,210);
}
hr.right {
	float:right;
	margin-right:25px;
	width:60%;
}
hr.left {
	float:left;
	width:2%;
	margin-left:20px;}
h1{
	padding-top:70px;
	height:0;
	overflow:hidden; 																						/*to hide principal text*/
	background: url(images/title2.png) -20% -5% no-repeat;			/*the name in header*/
	background-size: 95%;
	width:202px;
	position:relative;
	top:44px;
	left:1.3em;
	border-radius:14px;
}
h2,h3 {
	font-family:'for_h3','helvetica', sans-serif;
	color:#47484A;
	line-height:1.2em;
	font-size:95%;
	word-spacing:0.5px;
	letter-spacing:0.015em;
}
h2{
	text-transform:uppercase;
	font-size:100%;
}
.quotes{
	margin:2.5em 0 0 2.5em;
	margin-right:5em;
	padding-top:1em;
	/*min-height:60px;*/
	background:url(images/quotes3.png) 2% 0% no-repeat;
	background-size: 12%;
	padding-left:5em;
	font-family:'for_quotes','Century', sans-serif;
	font-size:130%;
	font-weight:bold;
	font-style:italic;
	text-indent:1em;
}

/*style of the main part*/

.main{
	min-height:570px;
	overflow:auto;
}
section{
	margin:2.5em;
	margin-right:5em;
	text-align:left;
	padding-bottom:5%;
	border-bottom:.1em solid rgb(210,210,210);
	font-size:122%;
	font-family:"helvetica", sans-serif;
	letter-spacing:.03em;
	line-height:1.78em;
	word-spacing:.3em;
}
section:last-child {  						/*for remove a border and big indent under the last section*/
	border:none;
	margin-bottom:0;
}
abbr, acronym {
	font-style:italic;
	border-bottom:.1em dotted;
	cursor:help;
}
cite{
	font-style:italic;
	display:block;
	margin:1em 0 1em 2em;
	cursor:help;
}
		/*Images in main text*/
img {
	max-width:95%;
}
figure{
	text-align:center;
	margin:1.5em 0;
}
figcaption {
	font-weight:bold;
}
		/*links in main text*/
.main a {
	text-decoration:none;
	background:#E4FFCC;
	color:#999933;
}
		/*lists in main text*/
.main li{
	margin:0 0 0 1em;
}
.main li p:first-of-type {
	display:inline;
}
.main ul {
	margin:0 0 .3em 0;
	list-style:circle inside;
}
.main ol{
	margin:0 0 .3em 0;
	list-style:decimal inside;
}
.other_list {
	list-style-type:none;
}
		/*tables in main text*/
table, td, th {
	border-collapse:collapse;
	border:1px solid;
	text-align:center;
}
table{
	margin:auto;
}

/*footer*/

footer, footer a{
	text-align:center;
	text-transform:uppercase;
	color:#908E8E;
	text-decoration:none;
	height:70px;
}
footer hr{
	height:1px;
	margin-bottom:10px;
}
		/*links in footer*/
footer a {
	text-decoration:none;
	font-style:italic;
	border-bottom:.1em dotted;
}

/*navigation*/

aside{
	background:rgb(181,176,162); 						/*side navigation bar*/
	width:260px;
	position:absolute;
	top:130px;
	left:660px;
	margin-bottom:15px;
}
nav{margin-top:30px;}
nav > ul{
	display:block;
	bottom:0;
	right:0;
	margin-bottom:100px;	
}
li.aside_pointer{
	list-style-image: url(images/arr5.ico);
	list-style-position: inside;
	padding-left:15px;
	/*margin-left:15px;*/
	margin-bottom:10px;
	background:#47484A;
	width:75%;
	min-height:25px;
}
li.aside_pointer span{ 									/*headers in navigation*/
	color:white;
	font-size:93%;
	letter-spacing:-0.02em;
	text-align:left;
	vertical-align: center;
	text-transform:uppercase;
	font-family:'Nav_title','helvetica','arial', sans-serif;*/
}
li.aside_pointer:first-child{ 											/*yellow strip under main navigation header*/
	background:transparent url(images/button_bg2.jpeg);
	/*opacity:0.70;*/	
}
li.aside_pointer:last-of-type{
	margin-top:25px;
}
li.low_nav, 
li.high_nav,
li.main_page{
	margin:0 50px 0 15px;
	padding:7px 0;
	list-style-position: inside;
}
li.low_nav, 
li.main_page{
	list-style-type:none;
	margin-left:30px;
}
li.high_nav{
	list-style-image: url(images/nav6.ico);
	border-bottom: 1px solid rgb(211,206,206);
}
li.main_page {
	margin-bottom:55px;
}
		/*links in navigation*/
li.low_nav a, 
li.high_nav a, 
li.main_page a, 
li.main_page {
	color:#47484A;
	font-weight:600;
	font-size:100%;
	text-align:left;
	text-decoration:none;
}
li.main_page a{ 
	color:#E5E2E3;
}
li.low_nav a:hover, 
li.high_nav a:hover,
a:hover{
	color:white;
	background:#A4B93C;
}

/*additional blocks for special effects*/

#extra1{ 											/*strips in top of page*/
	height:75px;
	background:transparent url(images/black_lines1.jpeg) repeat-x;
	opacity: 0.01;
	z-index:1;
	position:relative;
}

#extra2{ 											/*1 level of shadow under navigation bar*/
	width:30px;
	height:30px;
	position:absolute;
	bottom:0;
	right:0;
	border-radius:2px;
	box-shadow:0 0 25px 3px rgba(104,104,104,0.4);
	z-index:-1;
}
#extra3{											/*2 level of shadow under navigation bar*/
	width:160px;
	height:70px;
	position:absolute;
	bottom:0;
	right:0;
	border-radius:10px;
	box-shadow:0 0 10px 2px rgba(104,104,104,0.5);
	z-index:-2;*/
}

#extra4{ 											/*top-left side tag*/
	width:24px;
	height:125px;
	position:absolute;
	top:50px;
	left:44px;
	background:transparent url(images/atu3.jpeg) no-repeat;
	background-size: 65%;
	z-index:-1;
}